#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  width: 50vw;
  padding: 15px;
  border-radius: 0 0 30px 30px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-list a {
  color: inherit;
  text-decoration: none;
}